body {
    font-family: 'Baskerville', serif;
    color: $contentColour;
    counter-reset: days 13;
}

header {
    padding: $padding;
    padding-bottom: $padding + 4.5rem;
}

main {
    background: $primaryColour;
    &::before {
        background: linear-gradient(-45deg, #b33c3c 20px, red 20px, #b33c3c 20px, transparent 0), linear-gradient(45deg, #b33c3c 20px, transparent 0);
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 22px 40px;
        content: " ";
        display: block;
        height: 40px;
        width: 100%;
        position: relative;
        bottom: 40px;
        left: 0;
    }
}

h1, h2 {
    color: $primaryHeadingColour;
    font-weight: 400;
}

h1 {
    color: $primaryColour;
    font-family: 'Mountains of Christmas', 'Baskerville', serif;
    font-size: 4.2rem;
    font-weight: 700;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: $padding;
    text-align: center;
}

.boxes {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media all and (min-width: $breakpoint) {
        width: 575px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media all and (min-width: 890px) {
        width: 860px;
    }
}

.box {
    width: 256px;
    position: relative;
    margin: $margin auto 0;
    @media all and (min-width: $breakpoint) {
        flex-basis: 256px;
    }
}

.box-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24rem;
    padding: $padding;
    background: #fff;
    font-size: 1rem;
    text-align: left;
    box-shadow: inset 0 20px 15px #ddd;
}

.box-flap {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $primaryHeadingColour;
    font-size: 4rem;
    text-align: center;
    background: darken($primaryColour, 3%);
    transition: background 0.8s ease-in-out, transform 0.4s ease-in-out;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: perspective(0) rotateX(0deg);
    &::after {
        box-shadow: inset 0 0 11px transparent;
        transition: box-shadow 0.5s ease-in-out;
    }
}

.box-flap--open {
    background: darken($primaryColour, 8%);
    cursor: default;
    outline: none;
    animation: open 0.4s forwards;
}

.box-flap--can-open:hover {
    cursor: pointer;
    transform: perspective(4000px) rotateX(25deg);
}

.box-flap--can-open:hover + .box-content::before {
    content: '';
    display: block;
    height: 22px;
    box-shadow: inset 0 4px 11px #bcbcbc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-flap--opened + .box-content .control {
    z-index: 3;
}

.box-flap-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box-flap__countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: darken($primaryColour, 7%);
    padding: 10px;
    font-family: 'Mountains of Christmas', 'Baskerville', serif;
    font-size: 5rem;
    text-align: center;
}

.box-flap__date {
    position: absolute;
    right: -40px;
    bottom: 40px;
    display: block;
    width: 200px;
    margin-top: $margin;
    padding: 5px 0;
    color: #6e1111;
    font-size: 1.2rem;
    background: #f8f8f8;
    transform: rotate(-45deg);
}

.box-content::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -3px;
    left: -3px;
    bottom: -3px;
    z-index: 1;
    display: block;
    border: 3px dashed darken($primaryColour, 10%);
    border-top: 1px solid darken($primaryColour, 5%);
}

.box-content__info {
    margin-top: auto;
}

.box-content__name,
.box-content__links {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.box-content__name {
    display: flex;
    margin-bottom: $margin;
    width: 100%;
    color: #920B0B;
    font-size: 1.5rem;
    text-align: left;
    // background: #efefef;
}

.box-content__description {
    font-size: 1.1rem;
}

.box-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding-top: 0;
}

.control {
    position: relative;
    display: block;
    border-radius: 3px;
    border: 1px dashed transparent;
    padding: 10px;
    font-size: 1rem;
    transition: background 0.2s;
}

.control--primary {
    background: #920b0b;
    color: #fff;
    &:hover,
    &:focus {
        background: darken(#920b0b, 5%);
        text-decoration: underline;
    }
}

.control--secondary {
    background: #e7e7e7;
    &:hover,
    &:focus {
        background: darken(#e7e7e7, 5%);
        text-decoration: underline;
    }
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-wrapper--show {
    display: block;
    z-index: 5;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 480px;
    border-radius: 3px;
    padding: $padding;
    font-size: 1.3rem;
    background: #fff;
    box-shadow: 0 0 20px #2c2c2c;
    transform: translateY(-50%) translateX(-50%);
}

.modal__message {
    padding-bottom: $margin;
    border-bottom: 1px solid #dadada;
}

.modal__close {
    margin-top: $margin;
    float: right;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
}

@keyframes open {
    0% {
        transform: perspective(0) rotateX(0deg);
    }
    100% {
        transform: perspective(4000px) rotateX(88deg);
    }
}
